*{
   
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
    font-family: verdana;
  
  }
  
  header{
   
    color:white;
    text-align: center;
    background:blue ;
    border-radius: 10px;
    width: 95%;
    font-size: 75%;
    margin-left: 40%;
    margin-bottom: 2%;
    margin-top: 2%;
    
    
   }
  
   html, body { height: 100%;} /* serve para definir um padrão de height assim consigo mudar a altura da select */
  
  #corpoPrincipal{
    
    width: 57%;
  /* background: rgb(65, 76, 231),linear-gradient(rgb(187, 183, 183),rgba(236, 229, 229, 0.993))*/
    background-image: url("tabuada.png"),linear-gradient(rgba(151, 147, 147, 0.769),rgba(236, 229, 229, 0.758))
   
  
  }
  
  #corpoSegundario{
    /*height: 65%;*/
    height: 570px;
    background: rgba(245, 199, 199, 0.792);
    border-radius: 10px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    margin: 5% 30% -40% 40%; /* o primeiro px é o top ,o segundo é o right,3 é o baixo, o 4 é a esquerda   */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.71);
    text-align: left;
    width: 95%;
   
  
  }
  
  #rodape{
  
    margin-left: 50%;
    margin-bottom: 52%;
    margin-top: 52%;
    width: 80%;
    color:white;
    text-align: center;
    font-style: italic;
    font-weight: bold
   
  
  }
  
  #resultado{
   
    text-align:left;
    padding: 5px;
    font-size: 20px;
    font-weight: bold
   
   
  }
  
  #botao{
  
    height: 30px;
    cursor: pointer;
    border-radius: 7px;
    border: 0;
    background: #043481;
    color: white;
    font-size: 15px;
    padding: 1%;
    margin: auto;
    width: 150px
    
  
    
  }
  
  #tab{
  
    
    width: 170px;
    text-align:center;
    box-shadow: 4px 4px rgba(0,0,0,0.4);
    border-radius: 5px;
    cursor: pointer;
    float: right
    
   /* margin-left: 30%;
    margin-right: 8% */
    
    
  
  }
  
  #tab2{
    
    width: 170px;
    text-align:center;
    box-shadow: 4px 4px rgba(0,0,0,0.4);
    border-radius: 5px;
    cursor: pointer;
    float: right /* possiona no lado direito  */
    /*  margin-left: 20%;
    margin-right: 10.5% */
    
  
  }
  .tab2Text {
  
    border: 0px solid white; 
    font-size: 120%;
    width: 120%;
    text-align:left;
    margin-top: 52%;
    margin-left: 1%;
    text-shadow: 0 0 2px rgba(51, 22, 166, 0.225)
  
  
  
    
  }
  
  
  #sele{
   
    box-shadow: 4px 4px rgba(0,0,0,0.4);
    overflow-x: scroll;
    overflow-y: scroll;
    white-space: nowrap;
    margin:auto;
    text-align:center;
    width: 150px;
    border-radius: 5px;
    font-family: Arial;
    font-weight: bold
    
  
  }
  
  #SeleMath{
   
    box-shadow: 4px 4px rgba(0,0,0,0.4);
    width: 170px;
    text-align:center;
    border-radius: 5px;
    cursor: pointer;
    float: right
    
   
    /* margin-left: 17.5%;
    margin-right: 13% */
  
  
  }